{%extends 'base.html'%}

{%block 'conteudo'%}
<main>
    <div class="row">
        {% include 'parciais/_menu_usuario.html' %}
         <div class="container card col-9">
             <div class="item_card">
                 <form action="">
                     <div class="">
                         <h6><i class="bi bi-person-lines-fill"></i> Dados pessoais</h6>
                         <section class="row g-1 mb-4">
                            <div class="form-floating col-5">
                                <input type="text" class="form-control" required id="floatingPassword" placeholder="text">
                                <label for="floatingPassword">Primeiro nome</label>
                            </div>
                            <div class="form-floating col-5">
                                <input type="text" class="form-control" required id="floatingPassword" placeholder="text">
                                <label for="floatingPassword">Sobrenome</label>
                            </div>
                            <div class="form-floating col-2">
                                <input type="text" class="form-control" required id="floatingPassword" placeholder="text">
                                <label for="floatingPassword">Apelido</label>
                            </div>
                            <div class="form-floating col-6">
                                <input type="text" class="form-control" required id="floatingPassword" onkeypress="$(this).mask('000.000.000-00')" placeholder="text">
                                <label for="floatingPassword">CPF</label>
                            </div>
                            <div class="form-floating col-6">
                                <input type="date" class="form-control" required id="floatingPassword" placeholder="text">
                                <label for="floatingPassword">Nascimento</label>
                            </div>
                        </section>
                        <section class="row g-1 mb-4">                        
                            <h6><i class="bi bi-envelope-fill"></i> Contato</h6>
                            <div class="form-floating col-3">
                                <input type="email" class="form-control" required id="floatingPassword" placeholder="text">
                                <label for="floatingPassword">E-mail de contato</label>
                            </div>
                            <div class="form-floating col-3">
                                <input type="email" class="form-control" required id="floatingPassword" placeholder="text">
                                <label for="floatingPassword">E-mail comercial</label>
                            </div>
                            <div class="form-floating col-3">
                                <input type="text" class="form-control" required id="floatingPassword" onkeypress="$(this).mask('(00) 0 0000-0000')" placeholder="text">
                                <label for="floatingPassword">Telefone 1</label>
                            </div>
                            <div class="form-floating col-3">
                                <input type="text" class="form-control" required id="floatingPassword" onkeypress="$(this).mask('(00) 0 0000-0000')" placeholder="text">
                                <label for="floatingPassword">Telefone 2</label>
                            </div>
                        </section>
                        <section class="row g-1 mb-4">
                            <h6><i class="bi bi-map-fill"></i> Endereço</h6>
                            <div class="form-floating col-6">
                                <input type="text" class="form-control" required id="floatingPassword" placeholder="text">
                                <label for="floatingPassword">UF</label>
                            </div>
                            <div class="form-floating col-6">
                                <input type="text" class="form-control" required id="floatingPassword" placeholder="text">
                                <label for="floatingPassword">Munícipio</label>
                            </div>
                            <div class="form-floating col-6">
                                <input type="text" class="form-control" required id="floatingPassword" placeholder="text">
                                <label for="floatingPassword">Bairro</label>
                            </div>
                            <div class="form-floating col-6">
                                <input type="text" class="form-control" required id="floatingPassword" onkeypress="$(this).mask('00.000-000')" placeholder="text">
                                <label for="floatingPassword">CEP</label>
                            </div>
                        </section>
                        <section class="row g-1 mb-3">                        
                            <h6><i class="bi bi-phone-fill"></i> Redes sociais</h6>
                            <div class="form-floating col-4">
                                <input type="url" class="form-control" required id="floatingPassword" placeholder="text">
                                <label for="floatingPassword">Facebook</label>
                            </div>
                            <div class="form-floating col-4">
                                <input type="url" class="form-control" required id="floatingPassword" placeholder="text">
                                <label for="floatingPassword">Instagram</label>
                            </div>
                            <div class="form-floating col-4">
                                <input type="url" class="form-control" required id="floatingPassword" placeholder="text">
                                <label for="floatingPassword">Linkedin</label>
                            </div>
                        </section>
                        </div>
                      <div class="mb-3">
                          <a href="">Termos de privacidade</a>
                          <p class="text-secondary">*Ao manter o cadastro você concorda com os termos de privacidade da organização</p>
                      </div>
                    <input type="submit" class="form-control btn btn-primary mb-3" value="Salvar">
                </form>
            </div>
        </div>
    </div>
</main>
{%endblock%}