{%extends 'base.html'%}

{%block 'conteudo'%}
<main>
    <div class="row">
        {% include 'parciais/_menu_usuario.html' %}
        <div class="container card col-9">
            <h6>Alterar senha</h6>
            <form>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" required id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Senha atual</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" required id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Nova senha</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" required id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Confirmar nova senha</label>
                </div>
                <input type="submit" class="form-control btn btn-primary mb-3" value="Salvar">
            </form>
        </div>
    </div>
</main>
{%endblock%}