{%extends 'base.html'%}

{%block 'conteudo'%}
<main>
    <div class="row">
        {% include 'parciais/_menu_usuario.html' %}
        <div class="container card col-9" style="max-height: 320px;">
            <h6>Alterar senha</h6>
            <form>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" required id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Senha atual</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" required id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Nova senha</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" required id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Confirmar nova senha</label>
                </div>
                <div class="text-center mb-3">
                    <button type="submit" class="form-control btn btn-primary mb-3"><i class="bi bi-check2-circle"></i> Salvar</button>
                </div>
            </form>
        </div>
    </div>
</main>
{%endblock%}