{%extends 'base.html'%}

{%block 'conteudo'%}
<main>
    <div class="row">
        {% include 'parciais/_menu_perfil.html' %}
        <div class="container col-8">
            <div class="mudar_avaliacoes mb-3 text-center">
                <a href="?p=Ruins"><button class="btn btn-outline-danger btn-tipo-avaliacao">Ruim</button></a>
                <a href="?p=Razoáveis"><button class="btn btn-outline-warning btn-tipo-avaliacao">Razoável</button></a>
                <a href="?p=Boas"><button class="btn btn-outline-success btn-tipo-avaliacao">Boa</button></a>
                <a href="avaliacoes"><button class="btn btn-outline-secondary btn-tipo-avaliacao">Todas</button></a>
            </div>
            <div class="container card">
                <h6>Avaliações - <label>{{ tipo_avaliacao}}</label></h6>
                <div class="item_card">
                    ...
                </div>
            </div>
        </div>
    </div>
</main>
{%endblock%}