{%extends 'base.html'%}
{%load static%}

{%block 'conteudo'%}
<style>
    tr:hover{
        *background-color:dodgerblue;
    }
</style>

<main style="margin-top: 3%;">
    <div class="row">
        <div class="container col-3">
            <div class="container card" id="busca_avancada" style="display: *none;">
                <h6>Busca avançada</h6>
                <div class="item_card">
                    <form class="form-floating" action="">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" required name="q" id="q" placeholder=" " value="{{ termo_procurado }}">
                            <label for="q">Palavras-chave</label>
                          </div>
                          <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="cnpj" minlength="18" onkeypress="$(this).mask('00.000.000/0000-00')" id="cnpj" placeholder=" " value="{{ cnpj_procurado }}">
                            <label for="cnpj">CNPJ</label>
                          </div>
                        <div class="mb-3" style="border: 1px solid #ccc; border-radius: 4px; padding: 10px;">
                            <label class="mb-3">Produto/Serviço</label>
                            <div style="overflow-y: scroll; max-height: 150px;" class="container mb-3">
                                {% for l_produto in lista_produtos_e_servicos %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="produtos/servicos" value="{{l_produto }}" id="{{l_produto }}"><label class="form-check-label" for="{{ l_produto }}">{{ l_produto }}</label>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="text-center">
                                <a href="#" class="link_card" data-bs-toggle="modal" data-bs-target="#modal_filtrar_categorias">Ver mais</a>
                            </div>
                        </div>
                          <div class="col-md mb-1">
                            <div class="form-floating">
                              <select class="form-select" name="regiao" id="regiao" placeholder=" ">
                                <option selected>Selecione...</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                              <label for="regiao">Região</label>
                            </div>
                          </div>
                        <br>
                        <div class="footer text-center">
                            <input type="submit" name="f" class="form-control btn btn-primary mb-3" value="Buscar">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container col-8">
            <h1 class="text-center">Resultados para: <b>"{{ termo_procurado  }}"</b></h1>
            <div class="container alert alert-warning alert-dismissible fade show" role="alert">
                <h4 class="alert-heading"><i class="bi bi-exclamation-triangle-fill"></i> Não encontrou o que procurava?</h4>
                Lorem ipsum ornare fames ante vulputate tempus suspendisse, litora nam ultrices euismod hac aenean, amet neque turpis massa id auctor. 
                <a href="" data-bs-toggle="modal" data-bs-target="#sugerir_empresa"><strong>CLIQUE AQUI</strong></a>.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="card container">
                <h6>Empresas</h6>
                <p class="descricao_card">Fique por dentro do melhor marketing nos últimos 6 meses</p>
                <div class="item_card">
                    <table class="table">
                        <tbody>
                            {%if termo_procurado == 'Dell'%}
                            <tr>
                                <td><a href="{% url 'ver_empresa' %}"><img src="{% static 'img/dell.jpg'%}" height="40"> Dell</a></td>
                                <td><i class="bi bi-emoji-angry empresas"></i> <a href="{% url 'ver_empresa_avaliacoes'%}?p=Ruins">449</a></td>
                                <td><i class="bi bi-emoji-neutral empresas"> </i><a href="{% url 'ver_empresa_avaliacoes'%}?p=Razoáveis">479</a></td>
                                <td><i class="bi bi-emoji-laughing empresas"></i> <a href="{% url 'ver_empresa_avaliacoes'%}?p=Boas">442</a></td>
                                <td><i class="bi bi-chat-quote empresas"></i> <a href="{% url 'ver_empresa'%}">2323</a></td>
                                <td><i class="bi bi-award empresas"></i> <a href="">10</a></td>
                                <td><a href=""><i class="bi bi-share empresas"></i></a></td>
                            </tr>
                            {%endif%}
                        </tbody>
                    </table>
                    <div class="mb-3 text-center">
                        <a href="#" class="link_card">Ver mais</a>
                    </div>
                </div>
            </div>
            <div class="card container">
                <h6>Comentários</h6>
                <p class="descricao_card">Fique por dentro do melhor marketing nos últimos 6 meses</p>
                <div class="item_card">
                    ...
                </div>
                <div class="mb-3 text-center">
                    <a href="#" class="link_card">Ver mais</a>
                </div>
            </div>            
            <div class="card container">
                <h6>Enquetes</h6>
                <p class="descricao_card">Fique por dentro do melhor marketing nos últimos 6 meses</p>
                <div class="item_card">
                    ...
                </div>
                <div class="mb-3 text-center">
                    <a href="#" class="link_card">Ver mais</a>
                </div>
            </div>
            <div class="card container">
                <h6>Artigos</h6>
                <p class="descricao_card">Fique por dentro do melhor marketing nos últimos 6 meses</p>
                <div class="item_card">
                    ...
                </div>
                <div class="mb-3 text-center">
                    <a href="#" class="link_card">Ver mais</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal sugerir empresa -->
        <div class="modal fade" id="sugerir_empresa" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sugerir empresa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="form-floating" action="">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="q" id="q" placeholder=" " required>
                            <label for="q">*Nome fantasia ou razão social</label>
                          </div>
                          <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="cnpj" minlength="18" onkeypress="$(this).mask('00.000.000/0000-00')" id="cnpj" placeholder=" ">
                            <label for="cnpj">CNPJ</label>
                          </div>
                          <div class="form-floating mb-3">
                            <input type="url" class="form-control" name="site" minlength="18" id="site" placeholder="https://www.teste.com.br">
                            <label for="site">Site</label>
                          </div>
                          <div class="mb-3" style="border: 1px solid #ccc; border-radius: 4px; padding: 10px;">
                            <label class="mb-3">Produto/Serviço</label>
                            <div style="overflow-y: scroll; max-height: 150px;" class="container mb-3">
                                {% for l_produto in lista_produtos_e_servicos %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="produtos/servicos" value="{{l_produto }}" id="sugerir_{{l_produto }}"><label class="form-check-label" for="sugerir_{{ l_produto }}">{{ l_produto }}</label>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="text-center">
                                <a href="#" class="link_card" data-bs-toggle="modal" data-bs-target="#modal_filtrar_categorias">Ver mais</a>
                            </div>
                        </div>
                          <div class="col-md mb-3">
                            <div class="form-floating">
                              <select class="form-select" name="regiao" id="regiao" placeholder=" ">
                                <option selected>Selecione...</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                              <label for="regiao">Região</label>
                            </div>
                          </div>
                        <div class="modal-footer container" style="justify-content: center;">
                            <input type="submit" name="f" class="form-control btn btn-primary mb-3" value="Enviar sugestão">
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
    <!-- Modal filtrar todas as categorais -->
        <div class="modal fade" id="modal_filtrar_categorias" tabindex="-1" aria-labelledby="modal_filtrar_categorias" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Todas as categorias</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                ...
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            </div>
        </div>
</main>
{%endblock%}