{%extends 'base.html'%}
{%load static%} 

{%block 'conteudo'%}
<main style="margin-top: 3%;">
    <div class="row">
        <div class="container col-3">
            <button type="button" class="btn btn-outline-warning form-control mb-3" onclick="mostrar_busca_avancada()"><img src="{% static 'img/icons/magic.svg'%}" height="20" width="20"> Busca avançada</button>
            <div class="container card" id="busca_avancada" style="display: none;">
                <h6>Filtros</h6>
                <div class="item_card">
                    <form action="">
                    ...
                    <br>
                    <input type="submit" name="f" class="form-control btn btn-outline-primary" value="Buscar">
                    </form>
                </div>
            </div>
            <div class="container card alert-primary color-white alert alert-dismissible fade show" role="alert" style="min-height: 0;">
                <div class="text-center">
                    <img src="{% static 'img/icons/ideia.png'%}" class="mb-3" height="50" width="50">
                </div>                
                <span class="mb-3">Nosso portal funciona através de pesquisas gerais. Isso quer dizer que em um único campo você pode pesquisar por empresas, produtos/serviços, comentários ou enquetes.</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        <div class="container col-8">
            <h1 class="text-center">Resultados para: <b>"{{ teste }}"</b></h1>
            <div class="card container">
                <h6>Empresas</h6>
                <p class="descricao_card">Fique por dentro do melhor marketing nos últimos 6 meses</p>
                <div class="item_card"> 
                    ...
                </div>
                <div class="mb-3 text-center">
                    <a href="#" class="link_card">Ver mais</a>
                </div>
            </div>
            <div class="card container">
                <h6>Comentários</h6>
                <p class="descricao_card">Fique por dentro do melhor marketing nos últimos 6 meses</p>
                <div class="item_card">
                    ...
                </div>
                <div class="mb-3 text-center">
                    <a href="#" class="link_card">Ver mais</a>
                </div>
            </div>            
            <div class="card container">
                <h6>Enquetes</h6>
                <p class="descricao_card">Fique por dentro do melhor marketing nos últimos 6 meses</p>
                <div class="item_card">
                    ...
                </div>
                <div class="mb-3 text-center">
                    <a href="#" class="link_card">Ver mais</a>
                </div>
            </div>
            <div class="card container">
                <h6>Artigos</h6>
                <p class="descricao_card">Fique por dentro do melhor marketing nos últimos 6 meses</p>
                <div class="item_card">
                    ...
                </div>
                <div class="mb-3 text-center">
                    <a href="#" class="link_card">Ver mais</a>
                </div>
            </div>
        </div>
    </div>
</main>
{%endblock%}