{%extends 'base.html'%}

{%block 'conteudo'%}
<main>
    <div class="row">
        <div class="container card col-2">
            <h6>FAQ</h6>
            <p class="descricao_card">Confira as melhores práticas</p>
            <div>
                <ul>
                    <li>Para consumidores</li>
                    <ul>
                        <a href=""><li>ADADASD</li></a>
                        <a href=""><li>ADADASD</li></a>
                        <a href=""><li>ADADASD</li></a>
                        <a href=""><li>ADADASD</li></a>
                        <a href=""><li>ADADASD</li></a>
                        <a href=""><li>ADADASD</li></a>
                        <a href=""><li>ADADASD</li></a>
                        <a href=""><li>ADADASD</li></a>
                        <a href=""><li>ADADASD</li></a>
                        <a href=""><li>ADADASD</li></a>
                        <a href=""><li>ADADASD</li></a>
                        <a href=""><li>ADADASD</li></a>
                    </ul>
                    <li>Para empresas</li>
                        <ul>
                            <a href=""><li>OQOWEOQWEO</li></a>
                            <a href=""><li>OQOWEOQWEO</li></a>
                            <a href=""><li>OQOWEOQWEO</li></a>
                            <a href=""><li>OQOWEOQWEO</li></a>
                            <a href=""><li>OQOWEOQWEO</li></a>
                            <a href=""><li>OQOWEOQWEO</li></a>
                            <a href=""><li>OQOWEOQWEO</li></a>
                            <a href=""><li>OQOWEOQWEO</li></a>
                            <a href=""><li>OQOWEOQWEO</li></a>
                            <a href=""><li>OQOWEOQWEO</li></a>
                            <a href=""><li>OQOWEOQWEO</li></a>
                            <a href=""><li>OQOWEOQWEO</li></a>
                            <a href=""><li>OQOWEOQWEO</li></a>
                        </ul>
                </ul>
            </div>
        </div>
        <div class="container card col-9">
            <div class="header_faq_post">
                <h6 class="">#Publicação
                    <span class="float-end text-secondary fst-italic fw-normal">Última atualização 10/05/2021</span>
                </h6>
                
            </div>
        </div>
    </div>
</main>
{%endblock%}