{% load static %}
<div class="container card col-3">
    <div class="row">
        <div class="container text-center">
            <img src="{% static 'img/dell.jpg'%}" height="80">
        </div>
        <div class="cracha_usuario text-center" style="padding-top: 5%;">
            <b class="mb-2">DELL</b><br>
            <label class="mb-2">falecom.dell@dellmarcas.com.br</label><br>
            <label class="mb-1"><i class="bi bi-telephone-fill"></i> (61) 3259-9994  </label><br>
            <label class="mb-2"><i class="bi bi-telephone-fill"></i> (61) 9 9964-9668</label><br>
            <a href="https://dell.com.br" target="_blank">
                <button class="btn btn-primary form-control">Ver site</button>
            </a>
        </div>
    </div>
    <hr>
    <ul class="menu_usuario">
        <li><a href="{% url 'ver_empresa'%}">Comentários</li></a>
        <li><a href="avaliacoes">Ver avaliações</li></a>
    </ul>
</div>