{% load static %}
<div class="container card col-3" style="min-height: 300px;">
    <div class="row mb-3">
        <div class="col-3">
            <img src="{% static 'img/icons/no-user.png'%}" class="rounded-circle" style="height: auto; width: 60px; border: 2px solid #aaa;">
        </div>
        <label class="col" style="padding-top: 3%;">Wesley Roogério Amorim dos Santos</label>
    </div>
    <ul class="menu_usuario">
        <li><a href="#Ver_perfil">Ver perfil</li></a>
        <li><a href="{% url 'meus_dados' %}">Dados da conta</li></a>
        <li><a href="{% url 'seguranca' %}">Segurança</li></a>
        <li class="dropdown-toggle" role="button">Newslestter </li>
          <ul>
            <li><a href="#Empresas">Empresas</a></li>
            <li><a href="#Enquetes">Enquetes</a></li>
          </ul>
    </ul>
</div>