{% load static %}
<div class="container card col-2" style="min-height: 300px;">
    <div class="row">
        <div class="col" style="max-width: 100px;">
            <i class="bi bi bi-person-badge" style="font-size: 100px;"></i>
        </div>
        <div class="cracha_usuario col" style="padding-top: 10%;">
            <b>Wesley Rogério Amorim dos Santos</b><br>
            <br>
            <div class="minhas_redes">
                <a href="">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="">
                    <i class="bi bi-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
    <hr>
    <ul class="menu_usuario">
        <li><a href="#Ver_perfil">Ver perfil</li></a>
        <li><a href="{% url 'criar_conteudo' %}">Gerenciar conteúdos</li></a>
        <li><a href="{% url 'meus_dados' %}">Dados da conta</li></a>
        <li><a href="{% url 'seguranca' %}">Segurança</li></a>
        <li class="dropdown-toggle" role="button" onclick="m_usu_news()"><i>Newslestter</i> </li>
        <input type="hidden" id="ver_newslestter">
        <ul id="lista_news" style="display: none;">
            <li><a href="{% url 'news_artigos' %}">Artigos</a></li>
            <li><a href="{% url 'news_empresas' %}">Empresas</a></li>
            <li><a href="{% url 'news_enquetes' %}">Enquetes</a></li>
          </ul>
    </ul>
</div>