{%extends 'base.html'%}
{%load static%}

{%block 'conteudo'%}
<style>
    .comentarios_do_post{
        font-size: 12px;
        border-top: 1px solid #ccc;
    }
</style>
<main class="row">
    <div class="container filtros_forum container col-2">
        <a href="{% url 'forum_publicar' %}">
            <button class="btn btn-warning form-control mb-3">Quero publicar</button>
        </a>
        <div class="container card">
            <h6>Filtros</h6>
            <ul>
                <li><a href="?ver=mais_recentes">Mais recentes</a></li>
                <li><a href="?ver=mais_comentadas">Mais comentadas</a></li>
                <li><a href="?ver=mais_votados">Comentários mais votados</a></li>
            </ul>
        </div>
    </div>
    <div class="container col-9">
    <section class="posts_recentes">
        <div class="post_no_forum container card">
            <div class="dados_do_post">               
                <h6 class="mb-4"><i class="bi bi-person-circle foto_user_post"></i> Wesley Santos | <img src="{% static 'img/dell.jpg' %}" class="logo_empresa_post"> <a href="../busca/empresa/comentarios">Dell Technologies</a>
                    <hr>
                    <span class="float-end text-secondary fst-italic fw-normal">Última atualização 10/05/2021</span>
                    <a href="{% url 'post' %}">Sugestões de notebooks gamers baratos</a>
                </h6>
            </div>
            <div class="descrição_post mb-4">
                <span>
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sit...
                </span>
            </div>
            <div class="comentarios_do_post mb-4">
                <span>
                   Agente virtual — KKKK KKKKKKKK KKKKK KKKK
                </span>
            </div>
            <div class="post_footer footer mb-3">
                <a href="{% url 'post' %}"><i class="bi bi-reply-all"></i> Responder</a>
            </div>
        </div>
        <div class="post_no_forum container card">
            <div class="dados_do_post">               
                <h6 class="mb-4"><i class="bi bi-person-circle foto_user_post"></i> Wesley Santos | <img src="{% static 'img/dell.jpg' %}" class="logo_empresa_post"> <a href="../busca/empresa/comentarios">Dell Technologies</a>
                    <hr>
                    <span class="float-end text-secondary fst-italic fw-normal">Última atualização 10/05/2021</span>
                    <a href="{% url 'post' %}">Sugestões de notebooks gamers baratos</a>
                </h6>
            </div>
            <div class="descrição_post mb-4">
                <span>
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sit...
                </span>
            </div>
            <div class="comentarios_do_post mb-4">
                <span>
                   Agente virtual — KKKK KKKKKKKK KKKKK KKKK
                </span>
            </div>
            <div class="post_footer footer mb-3">
                <a href="{% url 'post' %}"><i class="bi bi-reply-all"></i> Responder</a>
            </div>
        </div>
        <div class="post_no_forum container card">
            <div class="dados_do_post">               
                <h6 class="mb-4"><i class="bi bi-person-circle foto_user_post"></i> Wesley Santos | <img src="{% static 'img/dell.jpg' %}" class="logo_empresa_post"> <a href="../busca/empresa/comentarios">Dell Technologies</a>
                    <hr>
                    <span class="float-end text-secondary fst-italic fw-normal">Última atualização 10/05/2021</span>
                    <a href="{% url 'post' %}">Sugestões de notebooks gamers baratos</a>
                </h6>
            </div>
            <div class="descrição_post mb-4">
                <span>
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sit...
                </span>
            </div>
            <div class="comentarios_do_post mb-4">
                <span>
                   Agente virtual — KKKK KKKKKKKK KKKKK KKKK
                </span>
            </div>
            <div class="post_footer footer mb-3">
                <a href="{% url 'post' %}"><i class="bi bi-reply-all"></i> Responder</a>
            </div>
        </div>
        <div class="post_no_forum container card">
            <div class="dados_do_post">               
                <h6 class="mb-4"><i class="bi bi-person-circle foto_user_post"></i> Wesley Santos | <img src="{% static 'img/dell.jpg' %}" class="logo_empresa_post"> <a href="../busca/empresa/comentarios">Dell Technologies</a>
                    <hr>
                    <span class="float-end text-secondary fst-italic fw-normal">Última atualização 10/05/2021</span>
                    <a href="{% url 'post' %}">Sugestões de notebooks gamers baratos</a>
                </h6>
            </div>
            <div class="descrição_post mb-4">
                <span>
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sit...
                </span>
            </div>
            <div class="comentarios_do_post mb-4">
                <span>
                   Agente virtual — KKKK KKKKKKKK KKKKK KKKK
                </span>
            </div>
            <div class="post_footer footer mb-3">
                <a href="{% url 'post' %}"><i class="bi bi-reply-all"></i> Responder</a>
            </div>
        </div>
        <div class="post_no_forum container card">
            <div class="dados_do_post">               
                <h6 class="mb-4"><i class="bi bi-person-circle foto_user_post"></i> Wesley Santos | <img src="{% static 'img/dell.jpg' %}" class="logo_empresa_post"> <a href="../busca/empresa/comentarios">Dell Technologies</a>
                    <hr>
                    <span class="float-end text-secondary fst-italic fw-normal">Última atualização 10/05/2021</span>
                    <a href="{% url 'post' %}">Sugestões de notebooks gamers baratos</a>
                </h6>
            </div>
            <div class="descrição_post mb-4">
                <span>
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sit...
                </span>
            </div>
            <div class="comentarios_do_post mb-4">
                <span>
                   Agente virtual — KKKK KKKKKKKK KKKKK KKKK
                </span>
            </div>
            <div class="post_footer footer mb-3">
                <a href="{% url 'post' %}"><i class="bi bi-reply-all"></i> Responder</a>
            </div>
        </div>
        <div class="post_no_forum container card">
            <div class="dados_do_post">               
                <h6 class="mb-4"><i class="bi bi-person-circle foto_user_post"></i> Wesley Santos | <img src="{% static 'img/dell.jpg' %}" class="logo_empresa_post"> <a href="../busca/empresa/comentarios">Dell Technologies</a>
                    <hr>
                    <span class="float-end text-secondary fst-italic fw-normal">Última atualização 10/05/2021</span>
                    <a href="{% url 'post' %}">Sugestões de notebooks gamers baratos</a>
                </h6>
            </div>
            <div class="descrição_post mb-4">
                <span>
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sit...
                </span>
            </div>
            <div class="comentarios_do_post mb-4">
                <span>
                   Agente virtual — KKKK KKKKKKKK KKKKK KKKK
                </span>
            </div>
            <div class="post_footer footer mb-3">
                <a href="{% url 'post' %}"><i class="bi bi-reply-all"></i> Responder</a>
            </div>
        </div>
        <div class="post_no_forum container card">
            <div class="dados_do_post">               
                <h6 class="mb-4"><i class="bi bi-person-circle foto_user_post"></i> Wesley Santos | <img src="{% static 'img/dell.jpg' %}" class="logo_empresa_post"> <a href="../busca/empresa/comentarios">Dell Technologies</a>
                    <hr>
                    <span class="float-end text-secondary fst-italic fw-normal">Última atualização 10/05/2021</span>
                    <a href="{% url 'post' %}">Sugestões de notebooks gamers baratos</a>
                </h6>
            </div>
            <div class="descrição_post mb-4">
                <span>
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sit...
                </span>
            </div>
            <div class="comentarios_do_post mb-4">
                <span>
                   Agente virtual — KKKK KKKKKKKK KKKKK KKKK
                </span>
            </div>
            <div class="post_footer footer mb-3">
                <a href="{% url 'post' %}"><i class="bi bi-reply-all"></i> Responder</a>
            </div>
        </div>
        <div class="post_no_forum container card">
            <div class="dados_do_post">               
                <h6 class="mb-4"><i class="bi bi-person-circle foto_user_post"></i> Wesley Santos | <img src="{% static 'img/dell.jpg' %}" class="logo_empresa_post"> <a href="../busca/empresa/comentarios">Dell Technologies</a>
                    <hr>
                    <span class="float-end text-secondary fst-italic fw-normal">Última atualização 10/05/2021</span>
                    <a href="{% url 'post' %}">Sugestões de notebooks gamers baratos</a>
                </h6>
            </div>
            <div class="descrição_post mb-4">
                <span>
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sit...
                </span>
            </div>
            <div class="comentarios_do_post mb-4">
                <span>
                   Agente virtual — KKKK KKKKKKKK KKKKK KKKK
                </span>
            </div>
            <div class="post_footer footer mb-3">
                <a href="{% url 'post' %}"><i class="bi bi-reply-all"></i> Responder</a>
            </div>
        </div>
        <div class="post_no_forum container card">
            <div class="dados_do_post">               
                <h6 class="mb-4"><i class="bi bi-person-circle foto_user_post"></i> Wesley Santos | <img src="{% static 'img/dell.jpg' %}" class="logo_empresa_post"> <a href="../busca/empresa/comentarios">Dell Technologies</a>
                    <hr>
                    <span class="float-end text-secondary fst-italic fw-normal">Última atualização 10/05/2021</span>
                    <a href="{% url 'post' %}">Sugestões de notebooks gamers baratos</a>
                </h6>
            </div>
            <div class="descrição_post mb-4">
                <span>
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sit...
                </span>
            </div>
            <div class="comentarios_do_post mb-4">
                <span>
                   Agente virtual — KKKK KKKKKKKK KKKKK KKKK
                </span>
            </div>
            <div class="post_footer footer mb-3">
                <a href="{% url 'post' %}"><i class="bi bi-reply-all"></i> Responder</a>
            </div>
        </div>
        <div class="post_no_forum container card">
            <div class="dados_do_post">               
                <h6 class="mb-4"><i class="bi bi-person-circle foto_user_post"></i> Wesley Santos | <img src="{% static 'img/dell.jpg' %}" class="logo_empresa_post"> <a href="../busca/empresa/comentarios">Dell Technologies</a>
                    <hr>
                    <span class="float-end text-secondary fst-italic fw-normal">Última atualização 10/05/2021</span>
                    <a href="{% url 'post' %}">Sugestões de notebooks gamers baratos</a>
                </h6>
            </div>
            <div class="descrição_post mb-4">
                <span>
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sit...
                </span>
            </div>
            <div class="comentarios_do_post mb-4">
                <span>
                   Agente virtual — KKKK KKKKKKKK KKKKK KKKK
                </span>
            </div>
            <div class="post_footer footer mb-3">
                <a href="{% url 'post' %}"><i class="bi bi-reply-all"></i> Responder</a>
            </div>
        </div>
    </section>
    </div>
    <div class="container col-2">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Primeira</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Última</a></li>
            </ul>
          </nav>
    </div>
</main>
{%endblock%}