{%extends 'base.html'%}

{%block 'conteudo'%}
<main>
    <div class="container card">
        <h6>Nova publicação 
            <a href="/" class="float-end btn-close"></a>
            <span class="badge rounded-pill bg-primary" role="button" data-bs-target="#modal_como_funciona_um_forum" data-bs-toggle="modal">Como funciona?</span>
        </h6>
        <div class="item_card">
            <form action="" class="text-center" onsubmit="return confirm('Deseja prosseguir com a publicação?')">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="q" required placeholder=" " value="{{ q }}">
                    <label for="q">Nome da Empresa</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="assunto" required placeholder=" ">
                    <label for="assunto">Assunto da postagem</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" required style="height: 200px"></textarea>
                    <label for="floatingTextarea2">Comentário</label>
                </div>
                <div class="footer mb-3">
                    <button type="submit" class="btn btn-primary form-control"><i class="bi bi-check2-circle"></i> Publicar</button>
                </div>
            </form>
        </div>
    </div>
    <!-- Modal como funciona uma publicação-->
        <div class="modal fade" id="modal_como_funciona_um_forum" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Como funciona uma publicação no fórum?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                </div>
            </div>
            </div>
        </div>
</main>
{%endblock%}